@using FastReport.Web;

@WebReportGlobals.Scripts()
@WebReportGlobals.Styles()

<div class="wrapper">
    @Html.Partial("_HeaderPatial")
    @Html.Partial("_SidebarPartial")


    <section class="content-wrapper">
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-primary">
                        <div class="box-body">
                            @using (Html.BeginForm("CashFromDriver", "Reports"))
                            {

                                <div class="col-md-2">
                                    <div class="form-group">
                                        @Html.DropDownList("Year",
                                            ViewData["Year"] as SelectList,
                                            "Выберите год..",
                                            new { @class = "select form-control" })
                                    </div>
                                </div>

                                <div class="col-md-2">

                                    <div class="form-group">
                                        @Html.DropDownList("Month",
                                            ViewData["Month"] as SelectList,
                                            "Выберите месяц..",
                                            new { @class = "select form-control" })
                                    </div>
                                </div>

                                <div class="col-md-2">

                                    <div class="form-group">
                                        @Html.DropDownList("Day",
                                            ViewData["Day"] as SelectList,
                                            "Выберите день..",
                                            new { @class = "select form-control" })
                                    </div>
                                </div>

                                <input type="submit" class="btn btn-success" value="Применить">

                            }
                        </div>                 
                            @ViewBag.WebReport.GetHtml();
                    </div>
                </div>
            </div>
        </section>
    </section>
</div>

