@model Domain.Dictionary.Customers.Models.CustomerGetModel

@{
  Layout = null;
}

@using (Ajax.BeginForm("Edit", "Customers", FormMethod.Post, new AjaxOptions { HttpMethod = "POST" },  new { @class = "modal-content", id= "customer-edit-form" }))
{
  @Html.HiddenFor(x => x.Id)
    @Html.HiddenFor(x => x.PositionLatitude, new { id = "customerLatitude", @class = "markerLatitude", data_val = "true", data_val_number = "Значением поля PositionLatitude должно быть число." })
    @Html.HiddenFor(x => x.PositionLongitude, new { id = "customerLongitude", @class = "markerLongitude", data_val = "true", data_val_number = "Значением поля PositionLatitude должно быть число." })
  <div class="modal-header">
    <h4 class="modal-title" id="exampleModalLabel">Редактирование заказчика</h4>
  </div>
  <div class="modal-body">

    <div class="row">

      <div class="col-md-6">
        <div class="row">

          <div class="col-md-6">

            <div class="form-group">
              @Html.LabelFor(x => x.Name, "Наименование")
              @Html.TextBoxFor(x => x.Name, new { @class = "form-control", id = "customerName", placeholder = "Введите наименование заказчика", required = "required" })
            </div>
            <div class="form-group">
              @Html.LabelFor(x => x.Address, "Адрес")
              @Html.TextBoxFor(x => x.Address, new { @class = "form-control marker-address", id = "customerAddress", placeholder = "Введите адрес заказчика", required = "required" })
            </div>
            <div class="form-group">
              @Html.LabelFor(x => x.ContactPersonName, "Контактное лицо")
              @Html.TextBoxFor(x => x.ContactPersonName, new { @class = "form-control", id = "contactName", placeholder = "Введите контактное лицо", required = "required" })
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group">
              @Html.LabelFor(x => x.Inn, "ИНН")
              @Html.TextBoxFor(x => x.Inn, new { @class = "form-control form-control-inn", id = "customerINN", placeholder = "____________"})
            </div>
            <div class="form-group">
              @Html.LabelFor(x => x.Phone, "Телефон")
              @Html.TextBoxFor(x => x.Phone, new { @class = "form-control form-control-tel", id = "customerPhone", placeholder = "+7(___)  __-__-__", required = "required" })
            </div>
            <div class="form-group">
              @Html.LabelFor(x => x.ContactPersonPhone, "Телефон контактного лица")
              @Html.TextBoxFor(x => x.ContactPersonPhone, new { @class = "form-control form-control-tel", id = "customerPhone", placeholder = "+7(___)  __-__-__", required = "required" })
            </div>
            <div class="form-group form-group_no-label">
              @Html.CheckBoxFor(x => x.IsBlocked, new { @class = "icheck", id = "IsBlocked" })
              @Html.LabelFor(x => x.IsBlocked, "Заблокирован")
            </div>
          </div>

          <div class="col-md-12">
            <div class="form-group">
              @Html.LabelFor(x => x.Description, "Описание")
              @Html.TextAreaFor(x => x.Description, new { @class = "form-control", placeholder = "Введите описание..." })
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div id="customer-map" class="map-container"></div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-success">Сохранить</button>
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
  </div>
}
